body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /*Light Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Gray Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #2f2f2f;
  }
  .navbar-brand:hover {
    color: #1abc9c !important;
    border-bottom: 1px solid #1abc9c;
  }
  .navbar-right li {
    font-size: 1.5rem;
    letter-spacing: 6px;
    font-weight: bolder;
    color: #2f2f2f;
  }
  .navbar-right li a:hover {
    color: #1abc9c !important;
    border-bottom: 1px solid #1abc9c;
  }
  .img-responsive {
    display: inline;
    max-width: 100%;
    height: 250px;
    width: 250px;
  } 
  .img-circle {
    margin: auto;
  }
  .about-me {
    text-align: justify;
    width: 50%;
    margin: auto;
  }
  .margin {
    margin-bottom: 20px;
    text-align: center;
  }
  .img-thumbnail {
    display: inline;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: 20px;
    max-width: 100%;
    height: 40px;
    width: 40px;
  }
  .img-thumbnail:hover {
    box-shadow: 5px 5px 15px #474e5d;
  }
  .experience {
    padding: 0;
    text-align: justify;
  }
  #experience:hover {
    color: #1abc9c !important;
  }
  .experience li {
    margin-bottom: 20px;
    list-style-type: square;
    margin-left: 440px;
  }
  .container-fluid-skill {
    position: relative;
  }
  .skill-bars{
    margin: auto;
    padding: 25px 30px;
    margin-bottom: 60px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #1abc9c;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 70%;
  }
  .bar .progress-line.css span{
    width: 70%;
  }
  .bar .progress-line.jquery span{
    width: 25%;
  }
  .bar .progress-line.react span{
    width: 20%;
  }
  .bar .progress-line.figma span{
    width: 45%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "70%";
  }
  .progress-line.css span::after{
    content: "70%";
  }
  .progress-line.jquery span::after{
    content: "25%";
  }
  .progress-line.react span::after{
    content: "20%";
  }
  .progress-line.figma span::after{
    content: "45%";
  }
  .container-fluid-contact {
    height: 500px;
  }
  .first_col {
    background-color: white;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    top: 90px;
    left: 290px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .text-center {
    color: #474e5d;
  }
  .form-label {
    color: #474e5d;
  }
  .btn {
    background-color: #1abc9c !important;
    margin-top: 15px;
  }
  .btn:hover {
    background-color: #333 !important;
    color: #fff !important;
  }
  .form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c1b688;
  }
  .form-control[type=text]:focus {
    border: 2px solid #555;
  }
 @media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }
    .sec_col {
        order: 1 !important;
    }
  }
  .footer-text {
    color:#fff;
  }